<nav>
    <ul>
        <li><img class="logo" src='#'></li>
        <li><a href='/'>Home</a></li>
        <li><a href=''>Notifications</a></li>
        <li><a href=''>New Post</a></li>
        <li><a href=''>Messages</a></li>
        <li><form action="submit"><input type="search"placeholder="Search"></form></li>
                <img class="avatar" src='#'>
    </ul>
</nav>
